## Demographics and Employment in the United States

In the wake of the Great Recession of 2009, there has been a good deal of focus on employment statistics, one of the most important metrics policymakers use to gauge the overall strength of the economy. In the United States, the government measures unemployment using the Current Population Survey (CPS), which collects demographic and employment information from a wide range of Americans each month. In this exercise, we will employ the topics reviewed in the lectures as well as a few new techniques using the September 2013 version of this rich, nationally representative dataset (available online).

The observations in the dataset represent people surveyed in the September 2013 CPS who actually completed a survey. While the full dataset has 385 variables, in this exercise we will use a more compact version of the dataset, CPSData.csv, which has the following variables:

- PeopleInHousehold: The number of people in the interviewee's household.

- Region: The census region where the interviewee lives.

- State: The state where the interviewee lives.

- MetroAreaCode: A code that identifies the metropolitan area in which the interviewee lives (missing if the interviewee does not live in a metropolitan area). The mapping from codes to names of metropolitan areas is provided in the file MetroAreaCodes.csv.

- Age: The age, in years, of the interviewee. 80 represents people aged 80-84, and 85 represents people aged 85 and higher.

- Married: The marriage status of the interviewee.

- Sex: The sex of the interviewee.

- Education: The maximum level of education obtained by the interviewee.

- Race: The race of the interviewee.

- Hispanic: Whether the interviewee is of Hispanic ethnicity.

- CountryOfBirthCode: A code identifying the country of birth of the interviewee. The mapping from codes to names of countries is provided in the file CountryCodes.csv.

- Citizenship: The United States citizenship status of the interviewee.

- EmploymentStatus: The status of employment of the interviewee.

- Industry: The industry of employment of the interviewee (only available if they are employed).

In [8]:
CPS <- read.csv('dataset/CPSData.csv')

In [9]:
str(CPS)

'data.frame':	131302 obs. of  14 variables:
 $ PeopleInHousehold : int  1 3 3 3 3 3 3 2 2 2 ...
 $ Region            : Factor w/ 4 levels "Midwest","Northeast",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ State             : Factor w/ 51 levels "Alabama","Alaska",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ MetroAreaCode     : int  26620 13820 13820 13820 26620 26620 26620 33660 33660 26620 ...
 $ Age               : int  85 21 37 18 52 24 26 71 43 52 ...
 $ Married           : Factor w/ 5 levels "Divorced","Married",..: 5 3 3 3 5 3 3 1 1 3 ...
 $ Sex               : Factor w/ 2 levels "Female","Male": 1 2 1 2 1 2 2 1 2 2 ...
 $ Education         : Factor w/ 8 levels "Associate degree",..: 1 4 4 6 1 2 4 4 4 2 ...
 $ Race              : Factor w/ 6 levels "American Indian",..: 6 3 3 3 6 6 6 6 6 6 ...
 $ Hispanic          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CountryOfBirthCode: int  57 57 57 57 57 57 57 57 57 57 ...
 $ Citizenship       : Factor w/ 3 levels "Citizen, Native",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ EmploymentStatus  : Factor w/ 5 levels "Disabled","Employed",..: 4 5 1 3 2 2 2 2 3 2 ...
 $ Industry          : Factor w/ 14 levels "Agriculture, forestry, fishing, and hunting",..: NA 11 NA NA 11 4 14 4 NA 12 ...

In [10]:
sort(table(CPS$Industry))

                               Armed forces
                                         29
                                     Mining
                                        550
Agriculture, forestry, fishing, and hunting
                                       1307
                                Information
                                       1328
                      Public administration
                                       3186
                             Other services
                                       3224
               Transportation and utilities
                                       3260
                                  Financial
                                       4347
                               Construction
                                       4387
                    Leisure and hospitality
                                       6364
                              Manufacturing
                                       6791
         Professional and business services
                                       7519
                                      Trade
                                       8933
            Educational and health services
                                      15017

In [12]:
sort(table(CPS$State))

          New Mexico              Montana          Mississippi
                1102                 1214                 1230
             Alabama        West Virginia             Arkansas
                1376                 1409                 1421
           Louisiana                Idaho             Oklahoma
                1450                 1518                 1523
             Arizona               Alaska              Wyoming
                1528                 1590                 1624
        North Dakota       South Carolina            Tennessee
                1645                 1658                 1784
District of Columbia             Kentucky                 Utah
                1791                 1841                 1842
              Nevada              Vermont               Kansas
                1856                 1890                 1935
              Oregon             Nebraska        Massachusetts
                1943                 1949                 1987
        South Dakota              Indiana               Hawaii
                2000                 2004                 2099
            Missouri         Rhode Island             Delaware
                2145                 2209                 2214
               Maine           Washington                 Iowa
                2263                 2366                 2528
          New Jersey       North Carolina        New Hampshire
                2567                 2619                 2662
           Wisconsin              Georgia          Connecticut
                2686                 2807                 2836
            Colorado             Virginia             Michigan
                2925                 2953                 3063
           Minnesota             Maryland                 Ohio
                3139                 3200                 3678
            Illinois         Pennsylvania              Florida
                3912                 3930                 5149
            New York                Texas           California
                5595                 7077                11570

In [16]:
table(CPS$Citizenship)

     Citizen, Native Citizen, Naturalized          Non-Citizen
              116639                 7073                 7590

In [17]:
(116639 + 7073) / (116639 + 7073 + 7590)

[1] 0.9421943

In [23]:
hispanic = subset(CPS, Hispanic == 1)

In [24]:
table(hispanic$Race)

 American Indian            Asian            Black      Multiracial
             304              113              621              448
Pacific Islander            White
              77            16731

In [25]:
table(CPS$Race, CPS$Hispanic)

                       0     1
  American Indian   1129   304
  Asian             6407   113
  Black            13292   621
  Multiracial       2449   448
  Pacific Islander   541    77
  White            89190 16731

In [27]:
summary(CPS)

 PeopleInHousehold       Region               State       MetroAreaCode
 Min.   : 1.000    Midwest  :30684   California  :11570   Min.   :10420
 1st Qu.: 2.000    Northeast:25939   Texas       : 7077   1st Qu.:21780
 Median : 3.000    South    :41502   New York    : 5595   Median :34740
 Mean   : 3.284    West     :33177   Florida     : 5149   Mean   :35075
 3rd Qu.: 4.000                      Pennsylvania: 3930   3rd Qu.:41860
 Max.   :15.000                      Illinois    : 3912   Max.   :79600
                                     (Other)     :94069   NA's   :34238
      Age                 Married          Sex
 Min.   : 0.00   Divorced     :11151   Female:67481
 1st Qu.:19.00   Married      :55509   Male  :63821
 Median :39.00   Never Married:30772
 Mean   :38.83   Separated    : 2027
 3rd Qu.:57.00   Widowed      : 6505
 Max.   :85.00   NA's         :25338

                   Education                   Race           Hispanic
 High school            :30906   American Indian :  1433   Min.   :0.0000
 Bachelor's degree      :19443   Asian           :  6520   1st Qu.:0.0000
 Some college, no degree:18863   Black           : 13913   Median :0.0000
 No high school diploma :16095   Multiracial     :  2897   Mean   :0.1393
 Associate degree       : 9913   Pacific Islander:   618   3rd Qu.:0.0000
 (Other)                :10744   White           :105921   Max.   :1.0000
 NA's                   :25338
 CountryOfBirthCode               Citizenship               EmploymentStatus
 Min.   : 57.00     Citizen, Native     :116639   Disabled          : 5712
 1st Qu.: 57.00     Citizen, Naturalized:  7073   Employed          :61733
 Median : 57.00     Non-Citizen         :  7590   Not in Labor Force:15246
 Mean   : 82.68                                   Retired           :18619
 3rd Qu.: 57.00                                   Unemployed        : 4203
 Max.   :555.00                                   NA's              :25789

                               Industry
 Educational and health services   :15017
 Trade                             : 8933
 Professional and business services: 7519
 Manufacturing                     : 6791
 Leisure and hospitality           : 6364
 (Other)                           :21618
 NA's                              :65060

In [28]:
table(CPS$Region, is.na(CPS$Married))

            FALSE  TRUE
  Midwest   24609  6075
  Northeast 21432  4507
  South     33535  7967
  West      26388  6789

In [29]:
table(CPS$Sex, is.na(CPS$Married))

         FALSE  TRUE
  Female 55264 12217
  Male   50700 13121

In [30]:
table(CPS$Age, is.na(CPS$Married))

     FALSE TRUE
  0      0 1283
  1      0 1559
  2      0 1574
  3      0 1693
  4      0 1695
  5      0 1795
  6      0 1721
  7      0 1681
  8      0 1729
  9      0 1748
  10     0 1750
  11     0 1721
  12     0 1797
  13     0 1802
  14     0 1790
  15  1795    0
  16  1751    0
  17  1764    0
  18  1596    0
  19  1517    0
  20  1398    0
  21  1525    0
  22  1536    0
  23  1638    0
  24  1627    0
  25  1604    0
  26  1643    0
  27  1657    0
  28  1736    0
  29  1645    0
  30  1854    0
  31  1762    0
  32  1790    0
  33  1804    0
  34  1653    0
  35  1716    0
  36  1663    0
  37  1531    0
  38  1530    0
  39  1542    0
  40  1571    0
  41  1673    0
  42  1711    0
  43  1819    0
  44  1764    0
  45  1749    0
  46  1665    0
  47  1647    0
  48  1791    0
  49  1989    0
  50  1966    0
  51  1931    0
  52  1935    0
  53  1994    0
  54  1912    0
  55  1895    0
  56  1935    0
  57  1827    0
  58  1874    0
  59  1758    0
  60  1746    0
  61  1735    0
  62  1595    0
  63  1596    0
  64  1519    0
  65  1569    0
  66  1577    0
  67  1227    0
  68  1130    0
  69  1062    0
  70  1195    0
  71  1031    0
  72   941    0
  73   896    0
  74   842    0
  75   763    0
  76   729    0
  77   698    0
  78   659    0
  79   661    0
  80  2664    0
  85  2446    0

In [31]:
table(CPS$State, is.na(CPS$MetroAreaCode))

                       FALSE  TRUE
  Alabama               1020   356
  Alaska                   0  1590
  Arizona               1327   201
  Arkansas               724   697
  California           11333   237
  Colorado              2545   380
  Connecticut           2593   243
  Delaware              1696   518
  District of Columbia  1791     0
  Florida               4947   202
  Georgia               2250   557
  Hawaii                1576   523
  Idaho                  761   757
  Illinois              3473   439
  Indiana               1420   584
  Iowa                  1297  1231
  Kansas                1234   701
  Kentucky               908   933
  Louisiana             1216   234
  Maine                  909  1354
  Maryland              2978   222
  Massachusetts         1858   129
  Michigan              2517   546
  Minnesota             2150   989
  Mississippi            376   854
  Missouri              1440   705
  Montana                199  1015
  Nebraska               816  1133
  Nevada                1609   247
  New Hampshire         1148  1514
  New Jersey            2567     0
  New Mexico             832   270
  New York              5144   451
  North Carolina        1642   977
  North Dakota           432  1213
  Ohio                  2754   924
  Oklahoma              1024   499
  Oregon                1519   424
  Pennsylvania          3245   685
  Rhode Island          2209     0
  South Carolina        1139   519
  South Dakota           595  1405
  Tennessee             1149   635
  Texas                 6060  1017
  Utah                  1455   387
  Vermont                657  1233
  Virginia              2367   586
  Washington            1937   429
  West Virginia          344  1065
  Wisconsin             1882   804
  Wyoming                  0  1624

In [32]:
table(CPS$Region, is.na(CPS$MetroAreaCode))

            FALSE  TRUE
  Midwest   20010 10674
  Northeast 20330  5609
  South     31631  9871
  West      25093  8084

In [33]:
tapply(CPS$State, is.na(CPS$MetroAreaCode), mean)

Warning message in mean.default(X[[i]], ...):
“argument is not numeric or logical: returning NA”
Warning message in mean.default(X[[i]], ...):
“argument is not numeric or logical: returning NA”

FALSE  TRUE
   NA    NA